.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

.dropdown {
    margin: 1rem;
    width: 65%;
    display: flex;
    flex-direction: row;
}