.loginregister_container {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
}

.loginregister_box {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  min-height: 70vh;
  max-height: 80vh;
  margin-top: 15vh;
  background: #fff;
  padding: 20px 50px;
  border: 1px solid #999;
  text-align: center;
  overflow: auto;
}

.loginregister_close {
  cursor: pointer;
  position: fixed;
  right: calc(15% - 40px);
  top: 17vh;
  background: #ededed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 28px;
  text-align: center;
  border: 2px solid rgb(188, 180, 180);
  font-size: 18px;
}

.loginregister_box > h1 {
  color: rgb(75, 165, 147);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 2rem;
  color: rgb(75, 165, 147);
}

.inputs > label {
  font-size: 24px;
}

.inputs > input {
  width: 20rem;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgb(75, 165, 147);
  padding: 8px;
}

.inputs > button {
  width: 12rem;
  background-color: rgb(235, 86, 96);
  color: white;
  border: 0px;
  font-size: 20px;
  width: 150px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 760px) {
  .loginregister_box {
    width: 100%;
  }
}
