.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--secondaryT);
    align-items: center;
}
.wrap .navbar{
    position: fixed;
    justify-content: space-between;
}
.auth_buttons > div > button {
    margin: .5rem;
}
.auth_buttons > div{
    display: flex;
}

.btnPrimary{
    background-color: var(--primary);
    color: #fff;
}
.btnSecondary{
    background-color: var(--secondary);
    color: #fff;
}

.loggedin_buttons > button {
    padding-left: 20px;
    padding-right: 20px;
}

