.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.studyreview_box {
    margin: 1rem;
    width: 65%;
    display: flex;
    flex-direction: row;
}

.studyratings {
    width: 25%;
}

.studyratings > p {
    margin: 3px;
}

.studycomments {
    margin-left: 2rem;
    text-align: left;
}

.studycomments > p {
    margin: 3px;
    text-align: left;
    overflow-wrap: break-word;
}